#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body,
canvas,
html {
  background: #000;
  overflow: hidden;
  height: 100%;
}
.container {
  max-width: 90%;
  height: 100%;
  overflow: scroll;
}

/* h1 { */
/*   color: #ffa07a; */
/* } */
/**/
/* a, h2 { */
/*   color: #F08080; */
/* } */
/**/
/* h1 { */
/*   color: #00ff00; */
/* } */
/* a, */
/* h2 { */
/*   color: #ff8c00; */
/* } */
/* p { */
/*   color: #00ffff; */
/* } */
/*
#FFFF00 (bright yellow)
#00FF00 (bright green)
*/
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
p {
  color: #b3e6ff;
}
h2 {
  color: #ff1e56;
}
h1 {
  color: #ffac41;
}
